.header{
    border: 1px solid rgb(54 53 53);
    background-color: rgb(54 53 53);
    width: fit-content;
    padding: 5px 25px 12px 25px;
    font-size: 40px;
    margin: 0 auto;
    color: white;
    text-decoration: underline;
    text-decoration-color: orangered;
}