.grid{
    display: grid;
}
.grid-item{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.card{
    flex-direction: row;
    border: 1px solid white;
}