.image1{
    order: 1;
    z-index: 0;
    height: 280px;
    width: 100%;
    border-radius: 0px;
    
}
.cardimg.card {
    flex-direction: column;
    padding: 1rem;
    border-left: 30px solid white;
    border-right: 30px solid white;
}
.cardimg{
    border: 1px solid white;
    height: 412px;
    background-color: #dedada;
    border-radius: 0px;
}
.card{
    padding: 0 2rem;
}
.events{
    position: relative;
    height: 300px;
}
.div-overlay{
    margin-top: 16rem;
    border: 1px solid orangered;
    background: orangered;
    height: 70px;
}
.div2-overlay{
    border: 1px solid rgb(54 53 53);
    background: rgb(54 53 53);
    height: 40px;
}
.div{
    position: absolute;
    z-index: 99;
    width: 100%;
}
